.card {
    padding: 20px;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titleContainer {
    display: flex;
    gap: 10px;

}

.buttonGroup {
    padding: 20px 0;
    justify-content: center;
}